#main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
#main-container h1{
  font-family: 'PT Sans', sans-serif;
}
#gifanimation{
  margin-bottom: 4rem;
}
#gifanimation picture{
  width: 100%;
  display: flex;
  justify-content: center;
}
#gifanimation picture img{
  width: 50%;
 }

 #videoanimation{
   
 }


  